#brandimg {
    width: 100px;
    height: 50px;
}

#leftctl {
height: 300px;
width: 500px;
background-color: red;
background-image: url(../img/pb-2-2.jpg);
background-size: cover;
background-repeat: no-repeat;
}

#rightctl {
    height: 300px;
    width: 600px;
    background-color: blue;
    background-image: url(../img/pb-2-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
    }

.item-code {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 7px 8px;
    color: #fff;
    font-size: medium;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: -0;
    margin-bottom: 0%;
    -webkit-border-raduis: 6px;
    -moz-border-raduis: 6px;
    border-radius: 10px;


}   